body {
    background-image:url(bkgd.jpg);
    background-size: cover;
    text-align: center;
    margin:auto;
    margin-top: 9%;
    padding: 50px;

}

div {
    border-color:rgb(255, 255, 255) ;
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 20px;
    max-width: 400px;
    border-style: solid;
    margin-left: 36%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px ;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: blueviolet;
    background-color: blueviolet;
    margin-bottom: 20px;
}

h2 {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul { 
    border-radius: 20px;
    max-width: 400px;
    margin-left: 36%;
    text-align: left;
    color: aliceblue;

}




