body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9cc8e;
}

header {
    background-color: #e1b157;
    color: rgb(139, 89, 24);
    padding: 20px;
    text-align: left;

}

h1, h2, h3 {
    color: #8b6318;
    margin-top: 10px;
    margin-left: 20px;
}

h1 {
    font-size:56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 42px;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color: #a27a30;
    border: 5px solid;
    border-radius: 20px;;
    border-style: dotted;
    border-color: rgb(91, 55, 7);
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: #a27a30;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

address, a, ul{
    color: #a27a30;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
}